/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/

.tooltip-1 {
	display: inline-block;
	position: relative;
	color: #00cb86;
	opacity: 1;
}

.tooltip__wave {
	width: 30%;
	height: 20px;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0px;
	margin: 0 auto;
	overflow: hidden;
}

.tooltip__wave span {
	position: absolute;
	left: -100%;
	width: 200%;
	height: 100%;
	/* background: url(../../images/tag-line.png) repeat-x center center; */
	background-size: 50% auto;
}


/* .about-box{
	padding: 70px 0px;
} */